<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/basic :: setContent(~{this::content} )}">
  <th:block th:fragment="content">

    <div class="container mt-4 mb-5">
      <h1 class="text-center">[[${dto.title}]]</h1>

      <div class="form-group">
        <h5> Board#: </h5>
        <p>[[${dto.bno}]]</p>
      </div>

      <div class="form-group mt-4">
        <h5> Content: </h5>
        <p>[[${dto.content}]]</p>
      </div>

      <div class="form-group mt-4">
        <h5> Writer: </h5>
        <p>[[${dto.writerUsername}]]</p>
      </div>

      <div class="form-group mt-4">
        <h5> Written on: </h5>
        <p>[[${#temporals.format(dto.regDate, 'yyyy/MM/dd HH:mm')}]]</p>
      </div>

      <div class="form-group mt-4">
        <h5> Modified on: </h5>
        <p>[[${#temporals.format(dto.modDate, 'yyyy/MM/dd HH:mm')}]]</p>
      </div>
            

 <!-- BUTTONS -->
      <a
        th:href="@{/board/modify(bno=${dto.bno}, page=${requestDTO.page}, type=${requestDTO.type}, keyword=${requestDTO.keyword})}">
        <button type="button" class="btn btn-warning mt-4 me-2">Modify Article</button>
      </a>

      <a
        th:href="@{/board/list(page=${requestDTO.page}, type=${requestDTO.type}, keyword=${requestDTO.keyword})}">
        <button type="button" class="btn btn-success mt-4 me-2">Back to List</button>
      </a>

      <button type="button" class="btn btn-primary mt-4 me-2 addComment">Add New Comment</button>
        
      <div>
        <button type="button" class="btn btn-info mt-4 commentCount">Show Comments
          </button>
        <div class="list-group commentList"></div>
      </div>
      
    </div>
    
    
    
<!-- MODAL -->
    <div class="modal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <div class="modal-header">
          <h5 class="modal-title"> New Comment </h5>          
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
          </button>
        </div>
        
        <div class="modal-body">
          <div class="form-group">
            <input class="form-control" type="text" name="commentWriter" placeholder="Name" />
            <input type="hidden" name="cno" />
          </div> 
          
          <div class="form-group">
            <input class="form-control" type="text" name="commentContent" placeholder="Content..." />
          </div>  
        </div>
        
        <div class="modal-footer">
          <button type="button" class="btn btn-danger commentRemove"> Delete </button>
          <button type="button" class="btn btn-warning commentModify"> Modify </button>
          <button type="button" class="btn btn-primary commentSave"> Save </button>
        </div>
        
      </div>
    </div>
    </div>


    <script th:inline="javascript">
		$(document).ready(function() {

			let bno = /*[[${dto.bno}]]*/"";
			let listGroup = $(".commentList");

			$(".commentCount").click(function() {

				loadJSONData();
			})

			// DATE
			function formatTime(str) {

				let date = new Date(str);

				return date.getFullYear() + '/'
						+ (date.getMonth() + 1)
						+ '/' + date.getDate()
						+ ' ' + date.getHours()
						+ ':' + date.getMinutes();
			}

			// COMMENTS COUNT
			function loadJSONData() {
				jQuery.getJSON('/comment/board/'+ bno, function(arr) {

					console.log(arr);

					let str = "";

					//$('.commentCount').html("Comments: "+ arr.length);

					$.each(arr, function(idx, comment) {
						console.log(comment);
						
						str += '	<div class="card-body" data-cno="'+comment.cno+'">';
						str += '	<h5>#: </h5><p>'
  									+ comment.cno
  									+ '</p>';
						str += '	<h5>Writer: </h5><p class="card-subtitle mb-2">'
									+ comment.writer
									+ '</p>';
						str += '	<h5>Content: </h5><p class="card-title">'
									+ comment.content
									+ '</p>';
						str += '	<h5>Date: </h5><p class="card-text">'
									+ formatTime(comment.regDate)
									+ '</p>';
						str += '	</div>';

					})

					listGroup.html(str);
				});
			}
			
			// NEW COMMENT
			let modal = $('.modal');
			
			$(".addComment").click(function(){
				modal.modal('show');
				
				$('input[name="commentContent"]').val('');
				$('input[name="commentWriter"]').val('');
				
				$(".commentModify, commentRemove").hide();
				$(".commentSave").show();
			});
			
			// SAVE
			$(".commentSave").click(function(){
				
				let comment = {
						bno: bno,
						content: $('input[name="commentContent"]').val(),
						writer: $('input[name="commentWriter"]').val()
				}
				
				console.log(comment);
				
    			$.ajax({
    				url: '/comment/',
    				method: 'post',
    				data: JSON.stringify(comment),
    				contentType: 'application/json; charset=utf-8',
    				dataType: 'json',
    				success: function(data){
    					console.log(data);
    					
    					var newCno = parseInt(data);
    					
    					alert(newCno + "Comment has been posted.")
    					modal.modal('hide');
    					loadJSONData();
    				}
    			});
			});
			
			// COMMENT LIST Click
			$('.commentList').on("click", ".card-body", function(){
				
				let cno = $(this).data("cno");
				
				$("input[name='commentContent']").val( $(this).find('.card-title').html());
				$("input[name='commentWriter']").val( $(this).find('.card-subtitle').html());
				$("input[name='cno']").val(cno);
				
				$(".commentSave").hide();
				$(".commentModify, .commentDelete").show();
				
				modal.modal('show');
			});
			
			// DELETE COMMENT
			$(".commentRemove").on("click", function(){
			
				let cno = $("input[name='cno']").val();
				
				$.ajax({
					url: '/comment/' + cno,
					method: 'delete',
					
					success: function(result){
						console.log("result: " + result);
						
						if(result === 'success'){
							modal.modal('hide');
							loadJSONData();
						}
					}
					
				})
			});
			
			// MODIFY COMMENT
			$(".commentModify").click(function(){
				
				let cno = $("input[name='cno']").val();
				
				let comment = {
						cno: cno,
						bno: bno,
						content: $('input[name="commentContent"]').val(),
						writer: $('input[name="commentWriter"]').val()
				}
				
				console.log(comment);
				
				$.ajax({
					url: '/comment/' + cno,
					method: 'put',
					data: JSON.stringify(comment),
					contentType: 'application/json; charset=utf-8',
					success: function(result){
						
						console.log("RESULT: " + result);
						
						if(result === 'success'){
							alert("Comment has been modified.");
							modal.modal('hide');
							loadJSONData();
						}
					}
				});
			});

		});
	</script>

  </th:block>
</th:block>